#title {
    text-align: center;
}

.Screenshots {
    max-width:25%;
    max-height:25%;
    
}

#picture {
   padding-top: 5%; 
   background-color: cadetblue;
}

footer {
    background-color: burlywood;
}
